<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptOwnFile">
        <!--
          exported = "true" : it means any other application can start this app.
                     "false" : it means only this application can start this app.
          lanunchMode = "singleTop" : When this application is called multiple times from other applications,
                                      the window of the already running application is always displayed.
                        "standard"  : (default) When this application is called multiple times from other applications,
                                      this application can be started multiple times.
                        "singleTask" : When this application is called multiple times from other applications,
                                       Only one instance of the application is launched, and the old instance is discarded.
         -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResultActivity" android:exported="false" />
    </application>

</manifest>